
.texto{
    width: 80%;
    margin: 0 auto;
}

.header{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 1.3% auto;
    
    

    

 }
.capa{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    
 }

footer{
    margin-top: 5%;
    text-align: center;
    font-size: large;
}


hr{
    max-width: 80%;
}

table,th, td {
    border: 2px solid;
    padding: 5px;
    
}

table{
    border-collapse: collapse;
}

th{
    background-color: rgb(31, 122, 207);
    color: white;
    border: black;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

p{
    font-size: large
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(19, 45, 190);
}

.users{
    text-decoration: none;
    color: black;
}

a.users:visited{
    color:black ;
}