    {% extends "base.html"%}
    {% block title %} home {% endblock %}
    {%block content%}

    <!-- corpo imagen  -->
    <div class="capa">
       
       <img src="/static/imagens/capa.png" alt="capa">
        




    </div>

    <!-- corpo texto  -->
    <div class="texto">
     <h1>sobre a universidade</h1>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id vel accusamus ab alias enim excepturi modi, voluptates beatae fuga consequatur molestias dolore eaque consectetur ipsum ex corrupti odit ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione modi nisi, ipsa tempora rem praesentium voluptatem accusamus labore similique saepe exercitationem aspernatur enim, illum perspiciatis optio aliquam nulla eos?</p>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id vel accusamus ab alias enim excepturi modi, voluptates beatae fuga consequatur molestias dolore eaque consectetur ipsum ex corrupti odit ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione modi nisi, ipsa tempora rem praesentium voluptatem accusamus labore similique saepe exercitationem aspernatur enim, illum perspiciatis optio aliquam nulla eos?</p>

    </div>
    {% endblock %}

    <!-- rodapé  -->