    {% extends "base.html"%}
    {% block title %} home {% endblock %}
    {%block content%}

    <!-- corpo imagen  -->
    <div class="capa">
       
       <img src="/static/imagens/capa.png" alt="capa">
        




    </div>

    <!-- corpo texto  -->
    <div class="texto">
     <h1>Sobre a universidade</h1>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id vel accusamus ab alias enim excepturi modi, voluptates beatae fuga consequatur molestias dolore eaque consectetur ipsum ex corrupti odit ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione modi nisi, ipsa tempora rem praesentium voluptatem accusamus labore similique saepe exercitationem aspernatur enim, illum perspiciatis optio aliquam nulla eos?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nam culpa nesciunt eos accusamus aliquam modi, a illum minus, sequi architecto quaerat sint incidunt deserunt, vel distinctio! Inventore, veritatis architecto?</p>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id vel accusamus ab alias enim excepturi modi, voluptates beatae fuga consequatur molestias dolore eaque consectetur ipsum ex corrupti odit ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione modi nisi, ipsa tempora rem praesentium voluptatem accusamus labore similique saepe exercitationem aspernatur enim, illum perspiciatis optio aliquam nulla eos?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio excepturi modi alias accusantium, recusandae ducimus totam aliquam error nam! Ab necessitatibus blanditiis quisquam magnam tempora voluptate corporis et ullam laborum.</p>

    </div>
    {% endblock %}

    <!-- rodapé  -->