{% extends "base.html"%}
{% block title %} quem somos {% endblock %}
{%block content%}
    <div class="texto">
        <!-- corpo texto -->
        <h2>Quem somos</h2>
        <p>Lorem <b>ipsum dolor</b>sit amet consectetur adipisicing elit. Dolorem quae numquam quod rerum exercitationem nesciunt ducimus modi saepe non nobis illum atque deserunt, est velit vel suscipit adipisci corporis mollitia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore numquam eveniet rerum asperiores laboriosam. Similique, molestias. Officiis, necessitatibus quidem, ipsam perferendis facilis dolores illum, quae vero deleniti amet at labore?</p>
        <h2>5 Motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>tablets em sala de aula</li>
            <li>professores renomados</li>
            <li>universidade bem avaliada</li>
            <li>ótima localização</li>
        </ol>
    </div>
    <hr>
    <div class="texto">
        <h2>Objetivos</h2>
        <p>Lorem <b>ipsum dolor </b> sit amet consectetur, adipisicing elit. Quisquam quos expedita velit nam at magni ea totam assumenda sint ipsam dignissimos quod aliquid deserunt, et consequuntur rem laborum laboriosam blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus dolore enim delectus ipsa molestias iure nemo inventore. Explicabo sunt iusto nulla qui et harum, delectus dolorem inventore ipsum libero? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim amet minima earum atque possimus inventore praesentium perferendis, repudiandae provident magnam unde iusto nobis, temporibus autem vitae suscipit. Reprehenderit, illo asperiores?</p>
    </div>
    
   {% endblock %}