    {% extends "base.html"%}
    {% block title %} Usuarios {% endblock %}
    {%block content%}

  <div class="texto">
    <h2>Registros</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus eveniet reprehenderit ducimus at, aspernatur doloremque inventore. Voluptate dolores beatae sint, quia illum reprehenderit earum numquam nulla debitis possimus voluptatibus!</p>
  </div>
  <hr>
  <div class="tabela">
        <table >
            <thead>
        
                <tr>
                    <th>E-mail</th>
                    <th>Assunto</th>
                    <th>Descrição</th>
        
                </tr>
            </thead>
        
            {% for user in userDetails %}
        
            <tbody>
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                </tr>
            </tbody>
        
        
            {% endfor %}
        </table>
    </div>

{% endblock %}